*{margin: 0; padding: 0; box-sizing: border-box;}


body, html {
  font-family: 'Merriweather', serif;
  height: 100%;
  overflow-x: hidden; /* impede scroll lateral */
  max-height: none;
  overflow-y: auto;   /* força scroll vertical */
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.TelaLocal{
    display: flex;
    height: 100vh;
    overflow: hidden;
    position: relative; /* necessário para posicionar menu absoluto */
}

/* Menu lateral */
.containerOptions {
    width: 15%;
    height: 100%;
    background-color: #404040;
    box-shadow: 5px 0 10px rgba(0,0,0,0.5);
    position: absolute;
}

/* Menu ativo */
.containerOptions.ativo {
    transform: translateX(0);
}

/* Conteúdo à direita */
.ladoDireito {
    flex: 1; 
    display: flex;
    flex-direction: column;
    background-color: #f0ffff;
}

.TelaLocal.menu-ativo .ladoDireito {
    margin-left: 15%; 
}

/* Animação inicial do menu */
.containerOptions {
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    
}

.logoWDA{
    width: 37%;
    margin-left: 5%;
    /* background-color: brown; */

}
.localOption{
    background-color: rgba(159, 252, 255, 1);
    color:  black;
    height: 10%;
    padding-left: 15%;
    align-items: center;  
    display: flex;
}
.Option{
    color: black;
}
a{
    text-decoration: none;
    color: inherit;
}
#options-heigh{
    height: 10%;
    padding-left: 5%;
    align-items: center;  
    display: flex;
    transition: background-color 0.3s; /* animação suave */
    cursor: pointer; /* muda o cursor para indicar interatividade */
}

#options-heigh:hover {
  background-color: #0a6568; /* cor ao passar o mouse */
  color:  rgba(159, 252, 255, 1); /* opcional: muda a cor do texto */
}

.containerMenu{
    width: 100%;
    display: flex;
    justify-content: center; /* centraliza na horizontal */
    align-items: center;  
    background: #404040;
}

.containerMenu {
    transition: height 0.5s ease;
}

#containerMenu_heigh{
    height: 100%;
}
.Name{
    width: 100%;
    height: 100%;
    font-size: 5vh;
    padding-left: 2%;
    font-family: 'Archivo Black', sans-serif;
    color: rgba(159, 252, 255, 1);
    /* background-color: blueviolet */
}

.emailUser{
    width: 15%;
    margin-left: auto;
    height: 100%;
    justify-content: center; /* centraliza na horizontal */
    align-items: center;  
    display: flex;
    font-size: 2.5vh;
    color: rgba(159, 252, 255, 1);
    /* background-color: rgb(20, 58, 58); */
}
.logoUser{
    width: 3%;
    height: 100%;
    margin-right: 2%;
    margin-left: auto;
    /* background-color: aqua; */
}
.containerPesquisa{
    width: 100%;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    gap: 2vh;
    margin-top: 1%;
    /* background-color: blueviolet; */
}
#pesquisa{
    width: 70%;
    height: 100%;
    border-radius: 8px;
    background-color: white;
}
#button{
    width: 10%;
    height: 100%;
    border-radius: 8px;
    font-size: 3vh;
    background-color: #0a6568;
    color: white;
    cursor: pointer;
}
.titulo{
    width: 100%;
    margin-top: 1%;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.modal-overlay {
    position: fixed;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: #404040;
    width: 40%;
    height: auto; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 3vh;
}
.modal-Edit, .modal-delet{
    background: #404040;
    width: 30%;
    height: auto; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 3vh;
}
.textModal1{
    color: white;
    margin-top: 5%;
    font-size: 2.5vh;
}
.textModal2, .textModal1-2{
    /* background-color: #aefcfc; */
    color: white;
    margin-bottom: 5%;
    font-size: 2.5vh;
    

}
.modal-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
}
.modal-form label {
    display: block;
    font-weight: bold;
    color: white;
    
}
.modal-form input {
   padding-left: 2%;
   width: 100%;
   height: 100%;
   border-radius: 8px;
   border: 1px solid #ccc;
   margin-bottom: 5%;
   
}

.tipo-usuario {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4vh;
    font-size: 3vh;
    align-items: center;
    margin-top: 2vh;
    color: white;
    
}

.tipo-usuario input[type="radio"] {
    transform: scale(1.5);
   
    cursor: pointer;
    background-color: #aefcfc;
}

.textCadastrar, .textAtualizar{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 2% 0;
    font-size: 4vh;
}
.textModal1, .textModal2{
    color: white;
    font-size: 2.5vh;
}

.modal-buttons,
.modal-buttons-edit,
.modal-buttons-delet {
    width: 100%;
    height: auto;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 4%;
    margin-bottom: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}

.btn-cadastrar, .btn-cancelar, .btn-cancelar-edit, .btn-salvar-edit{
    width: 100%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 5vh;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
#btnLogout{
    width: 40%;
    height: 20%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 5vh;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #004a4d;
    color: white;
}
.btn-salvar, .btn-cancelar-delet, .btn-cancelar-edit, .btn-deletar {
    width: 100%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 5vh;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    
    
}

.btn-cadastrar {
    background-color: #aefcfc;
    color: black;
}

.btn-cancelar, .btn-cancelar-edit {
    background-color: #004a4d;
    color: white;
}
.btn-cancelar-delet, .btn-salvar-edit {
    background-color: limegreen;
    color: white;
}
.tabela-container {
    width: 90%;
    margin: 2vh auto;
    margin-top: 2%;
    border-radius: 8px;
    overflow: hidden;
    max-height: none;
    overflow-x: hidden; /* só oculta horizontal */
    overflow-y: visible; /* deixa crescer pra baixo */
}

.tabela-locatarios {
    width: 100%;
    border-collapse: collapse;
    font-size: 2.5vh;
}
#tbody-locatarios{
    font-size: 2vh;
}

.tabela-locatarios thead {
    background: #404040;
    color: white;
}

.tabela-locatarios th, .tabela-locatarios td {
    padding: 12px;
    text-align: left;
}

.tabela-locatarios tbody tr {
    background-color: white;
    border-bottom: 1px solid #ccc;
}

.icone-editar,
.icone-deletar, .icone-visualizar {
    width: 4vh;
    height: 4vh;
    cursor: pointer;
    margin-right: 10px;
    transition: transform 0.2s;
}
.icone-visualizar:hover {
    transform: scale(1.1);
}
.icone-editar:hover {
    transform: scale(1.1);
}

.icone-deletar:hover {
    transform: scale(1.1);
}

.icone-editar:hover {
    color: green;
}

.icone-deletar:hover {
    color: red;
}
.btn-salvar{
    background-color: rgba(159, 252, 255, 1);
    color: black;
}

.btn-confirmar {
    width: 100%;
    height: 100%;
    font-size: 4vh;
    padding-left: 5%;
    padding-right: 5%;
    background-color: limegreen;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#delete_edit{
    background-color: rgba(68, 68, 68, 1);
    color: white;
}

.btn-deletar {
    background-color: red;
    color: white;
    
}

#delete_edit{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

td:last-child {
    display: flex;
    gap: 8px; /* espaço entre ícones */
    align-items: center;
}
td:last-child img {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.input-group {
  position: relative;
  height: 100%;
  width: 100%;
  
}
.input-group input {
  width: 100%;
  height: 100%;
  padding-top: 3%;
  font-size: 3.5vh;
  border-radius: 1vh;
  border: none;
  border-bottom: 2px solid #ccc;
  background: transparent;
  outline: none;
  background-color: white;
}
.input-group label {
  position: absolute;
  padding-left: 2%;
  top: 0vh;
  color: #777;
  font-size: 16px;
  pointer-events: none;
  transition: 0.3s ease;
}
.input-group input:focus ~ label,
.input-group input:valid ~ label {
  top: -0vh;
  left: 5px;
  font-size: 2vh;
  color: #002658;
  padding: 0 4px;
}

/* Input reduzido para caber ao lado do label */
.modal-form .form-group input {
    width: 70%; /* Ajuste conforme necessário */
    font-size: 2vh;
}

/* Posiciona o hamburger dentro do containerMenu */
.containerMenu {
    position: relative; /* necessário para posicionar o hamburger absoluto */
    display: flex;
    align-items: center;
    justify-content: space-between; /* ajusta os elementos */
    padding: 0 20px;
    background: #404040;
    height: 7vh;
}

.hamburger {
    margin-top: 2%;
    margin-bottom: 0.2%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 1vh;
    cursor: pointer;
    
}

.hamburger span {
    width: 5vh;
    height: 0.5vh;
    background: black;
    border-radius: 2vh;
    transition: 0.3s;
}

/* Transformar em X quando ativo */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.active span:nth-child(2) {
    opacity: 0;
}
.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}
.btn-fechar-menu {
    top: 1vh;
    right: 1vh;
    background: transparent;
    border: none;
    font-size: 3vh;
    color: white;
    cursor: pointer;
    display: none;
}




#modal-editar {
    
    z-index: 1000; /* modal de edição atrás */
}

#modal-confirmar-editar {
    
   
    z-index: 1100; /* modal de confirmação na frente */
}

.containerLogOutContent {
  flex: 1;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  
}

.containerLog{
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    gap: 1rem;
    background-color:rgba(159, 252, 255, 1);
}


@media (max-width: 768px) {
  .TelaLogout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .containerLogOutContent {
    font-size: 2.5vh;
  }

  .containerLog {
    width: 90%;
    height: auto;
    padding: 1.5rem;
  }

}
@media screen and (max-width: 768px) {
    .TelaLocal {
        flex-direction: column;
        height: auto;          
        overflow-y: auto;      
        overflow-x: hidden;   
    }

    .containerOptions {
        position: fixed;
        top: 0;
        left: 0;
        width: 80%;
        height: 100%;
        z-index: 1001;
        transform: translateX(-100%);
        box-shadow: 2px 0 5px rgba(0,0,0,0.3);
    }

    .containerOptions.ativo {
        transform: translateX(0);
    }

    .ladoDireito {
        width: 100%;
    }
    .Name{padding-bottom: 2%;
        padding-top: 2%;
        font-size: 3.5vh;
        
    }
    .containerPesquisa {
        flex-direction: row; /* input e botão lado a lado */
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 2%;
        gap: 1vh;
    }

    /* Esconde o texto */
    .containerPesquisa .text1 {
        display: none;
    }

    /* Ajusta input e botão */
    #pesquisa {
        width: 70%;
        height: 5vh;
        font-size: 2.5vh;
    }

    #button {
        width: 25%;
        height: 5vh;
        font-size: 2.5vh;
    }

    .hamburger {
        display: flex;
        margin-top: 6%;
    }
    .logoWDA{
        display: flex;
    }
    .btn-fechar-menu{
        margin-left: 100%;
        display: block;
    }

    .Option{
        color: white;
    }


}

@media screen and (max-width: 768px) {
    .modal {
        width: 90%; /* ocupa quase toda a tela */
        padding: 4vw;
    }
    
    .modal-form input {
        height: 70%;
        font-size: 4vh;
        padding: 2vw;
    }

    .tipo-usuario select {
        width: 30%;
    }

    .modal-buttons {
        flex-direction: row;
        gap: 2vw;
        width: 100%;
    }

    .modal-buttons button {
        width: 100%;
        height: 70%;
        font-size: 4vh;
        padding: 2vw;
    }
    #btnLogout{
        width: 100%;
        height: 100%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 2%;
        padding-top: 2%;
        font-size: 5vh;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        background-color: #004a4d;
        color: white;
    }

    .textCadastrar {
        font-size: 6vw;
        text-align: center;
        margin-bottom: 3vw;
    }

    .input-group input{
        padding-top: 5%;
        font-size: 3vh;
    }
    #inputEditora option{
        margin-right: 20%;
        margin-left: 20%;
        padding: 6px 8px;
        width: 100%;
        
    }

    #nomeLocatario option{
        margin-right: 20%;
        margin-left: 20%;
        padding: 6px 8px;
        width: 100%;
        background-color: brown;
    }

    #livro option{
        margin-right: 20%;
        margin-left: 20%;
        padding: 6px 8px;
        width: 100%;
        background-color: brown;
    }


    .modal-Edit,
    .modal-delet {
        width: 80%;
        padding: 4%;
    }

    .textModal1, .textModal2 {
        font-size: 1.8vh;
    }
    .textModal1-2{
        font-size: 1.8vh;
    }

    .modal-buttons-edit button,
    .modal-buttons-delet button {
        flex: 1;
        font-size: 13px;
    }

}

