*{margin: 0; padding: 0; box-sizing: border-box;}


body, html {
  font-family: 'Merriweather', serif;
  height: 100%;
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.TelaLivros{
    display: flex;
}
.ladoDireito {
  width: 85%;
  display: flex;
  flex-direction: column;
}
a{
    text-decoration: none;
    color: inherit;
}
.containerOptions{
    width: 15%;
    height: 100vh;
    font-size: 3vh;
    display: flex;
    
    flex-direction: column;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5); /* sombra na direita */
    background: RGBA(10, 101, 104, 1);
    background: linear-gradient(180deg,rgba(10, 101, 104, 1) 19%, rgba(159, 252, 255, 1) 100%);
}
.logoWDA{
    width: 37%;
    margin-left: 5%;
    /* background-color: brown; */

}
.livrosOption{
    background-color: rgba(159, 252, 255, 1);
    color:  black;
    height: 10%;
    padding-left: 15%;
    align-items: center;  
    display: flex;
}
#options-heigh{
    height: 10%;
    padding-left: 5%;
    align-items: center;  
    display: flex;
    transition: background-color 0.3s; /* animação suave */
    cursor: pointer; /* muda o cursor para indicar interatividade */
}

#options-heigh:hover {
  background-color: #0a6568; /* cor ao passar o mouse */
  color:  rgba(159, 252, 255, 1); /* opcional: muda a cor do texto */
}

.containerMenu{
    width: 100%;
    display: flex;
    justify-content: center; /* centraliza na horizontal */
    align-items: center;  
    background-color: rgba(10, 101, 104, 1);
}
#containerMenu_heigh{
    height: 7vh;
}
.Name{
    width: 85%;
    height: 100%;
    font-size: 5vh;
    padding-left: 2%;
    font-family: 'Archivo Black', sans-serif;
    color: rgba(159, 252, 255, 1);
}
.emailUser{
    width: 15%;
    margin-left: auto;
    height: 100%;
    justify-content: center; /* centraliza na horizontal */
    align-items: center;  
    display: flex;
    font-size: 2.5vh;
    color: rgba(159, 252, 255, 1);
    /* background-color: rgb(20, 58, 58); */
}
.logoUser{
    width: 3%;
    height: 100%;
    margin-right: 2%;
    margin-left: auto;
    /* background-color: aqua; */
}
.containerPesquisa{
    width: 100%;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    gap: 2vh;
    margin-top: 1%;
    /* background-color: blueviolet; */
}
#pesquisa{
    width: 60%;
    height: 100%;
    border-radius: 1vh;
    background-color:  rgba(242, 255, 255, 1);
}
#filter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%; /* espaço entre texto e ícone */
    width: 10%;
    height: 100%;
    border-radius: 1vh;
    font-size: 3vh;
    background-color: rgba(159, 252, 255, 1);
    color: black;
    border: none;
    cursor: pointer;
}

.icon {
    width: 5vh;
    height: 5vh;
}

#button{
    width: 10%;
    height: 100%;
    border-radius: 1vh;
    font-size: 3vh;
    background-color: #0a6568;
    color: white;
    cursor: pointer;
}
.titulo{
    width: 100%;
    margin-top: 1%;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none; /* começa invisível */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background-color: #073536;
    width: 40%;
    height: 70%; 
    margin-left: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 3vh;
}
#modal-idit{
    
    width: 50%;
    height: 90%; 
    margin-left: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 3vh;
}

.textModal1, .textModal2{
    /* background-color: #aefcfc; */
    font-size: 5vh;
    margin-bottom: 5%;
    color: white;
    

}
.modal-form {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vh;
    justify-content: center;
    width: 100%;
    margin-bottom: 5%;
}

.modal-form input {
    width: 90%;
    height: 20%;
    padding: 10px;
    font-size: 2vh;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.modal-buttons {
    width: 40%;
    height: 10%;
    margin-top: 5%;
    display: flex;
    justify-content: center;;
    align-items: center;
    gap: 3vh;
    /* background-color: brown; */
    
} 
#modal-buttons{
    width: 40%;
    height: 10%;
    margin-top: 15%;
    display: flex;
    justify-content: center;;
    align-items: center;
    gap: 3vh;
    /* background-color: brown; */
}
#modal-buttons1{
    width: 40%;
    height: 10%;
    margin-top: 10%;
    display: flex;
    justify-content: center;;
    align-items: center;
    gap: 3vh;
    /* background-color: brown; */
}

.btn-cadastrar, .btn-cancelar, .btn-salvar {
    width: 100%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 4vh;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-cadastrar {
    background-color: #aefcfc;
    color: black;
}

.btn-cancelar {
    background-color: #0a6568;
    color: white;
}
.tabela-container {
    width: 90%;
    margin: 2vh auto;
    margin-top: 2%;
    border-radius: 8px;
    overflow: hidden;
}

.tabela-locatarios {
    width: 100%;
    border-collapse: collapse;
    font-size: 2.5vh;
}

.tabela-locatarios thead {
    background-color: #0a6568;
    color: white;
}

.tabela-locatarios th, .tabela-locatarios td {
    padding: 12px;
    text-align: left;
}

.tabela-locatarios tbody tr {
    background-color: #aefcfc;
    border-bottom: 1px solid #ccc;
}

.icone-editar,
.icone-deletar, .icone-visualizar, .icone-cadastrarAluguel  {
    width: 4vh;
    height: 4vh;
    cursor: pointer;
    margin-right: 10px;
    transition: transform 0.2s;
}
.icone-cadastrarAluguel:hover{
    transform: scale(1.1);
}
.icone-visualizar:hover {
    transform: scale(1.1);
}
.icone-editar:hover {
    transform: scale(1.1);
}

.icone-deletar:hover {
    transform: scale(1.1);
}

.icone-editar:hover {
    color: green;
}

.icone-deletar:hover {
    color: red;
}
.btn-salvar{
    background-color: rgba(159, 252, 255, 1);
    color: black;
}

.btn-confirmar {
    width: 100%;
    height: 100%;
    font-size: 4vh;
    padding-left: 5%;
    padding-right: 5%;
    background-color: limegreen;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#delete_edit{
    background-color: rgba(68, 68, 68, 1);
    color: white;
}

.btn-deletar {
    width: 100%;
    height: 100%;
    font-size: 4vh;
    padding-left: 5%;
    padding-right: 5%;
    background-color: red;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#delete_edit{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.textResposta1{
    color: white;
}



